*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.main-div{
    /* background-color: pink; */
    width: 80%;
    margin: 0px 10vw;
    flex-wrap: wrap;
}

.Nav-logos{
    /* padding: 10px; */
    width: 20%;
    /* margin-top: 10px; */
    border-radius: 25px;
}




 .navbar-container{
    height: 10vh;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
    justify-content: center;
} 

.text{
    font-family: "Roboto", sans-serif;
    font-size: 10px;

}
.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}


.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    
    margin: 10px;
    gap: 10px;
  }



.select-container{


height: 24.3px;


border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
border-radius: 4px


}




.location{
    color: white;
    background-color: #002f34;

}

.search-container{
    height: 24.3px;
    width: 50vw;
padding: 0px 0px 0px 12px;
    /* width: 58%;
height: 23px; */
border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
gap:5px;

border-radius: 4px
}

.search-box{

    background-color: #002f34;
    color: white;
    height: 23px;
    width: 2vw;
    padding: 2px;
    margin-left: 38.4vw;
    
}

.login-sell{
    
    border-radius: 25px;
    padding: 2px;
    border: 2px solid;
    border-image: linear-gradient(to right, yellow, skyblue, blue) 1;

}

.text-sell{
    width: 3vw;
    font-family: "Roboto", sans-serif;
    color: #002f34;

}





@media (min-width: 620px) {
    .logo-container {
      width: 40%;
    }
  

    .search-box{
        display: none;
        }


    .input-container {
      width: 55%;
    }
  }
  
  
  @media (max-width: 450px) {
    .main-div {
      width: 100%;
      margin: 0 auto;
    }
  
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
  
    .logo-container {
      width: 100%;
      justify-content: space-around;
      margin-bottom: 10px;
    }
  
    .input-container {
      width: 100%;
      flex-direction: column;
      gap: 8px;
      align-items: stretch;
    }
  
    .select-container,
    .search-container {
      width: 100%;
    }
  
    .search-box{
        display: none;
      
    }
  
    .login-sell {
      align-self: flex-end;
    }
  }
/* responsiveness ended */

/* Nav bar ended */


hr{
    border: 1px solid lightgray;
}

